// variables
$bg-color: #232830;
$container-color: white;
$light-blue: #77d3c4;
$dark-brown: #262313;
$light-brown: #f2f2f2;
$break-small: 800px;
$break-large: 1200px;

//@import 'https://fonts.googleapis.com/css?family=Acme';

//utils
.hidden{
  display:none;
}

//dom overrides
body{
  margin: 0px;
  font-family: 'arial';
  color: #404040;
  background-image: url('assets/images/stardust.png');
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,h2,h3{
  margin: 0px!important;
}

.container{
  margin: 0 auto;
  width:80%;
  box-shadow: 3px 3px 15px #cecece;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  min-height: 60%;
  position: relative;

  .image{
    width: 40%;
    min-width: 400px;
    background-color: gray;
    background-image: url('assets/images/code.jpeg');
    background-size: cover;
    img{
      width: 100%;
    }
  }

  .content{
    text-align: center;
    width: 50%;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    img{

    }

    h2{
      font-size: 60px;
    }

    p{
      line-height: 45px;
      font-size: 30px;
    }

    .social{
      display: flex;
      justify-content: space-around;
      width: 60%;
      margin: 0 auto;

      .item a{
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        display: flex;
        flex-direction:column;
        min-height: 80px;
        min-width: 80px;
        text-align: center;
      }
    }
  }

  .contact-me{
    position: absolute;
    bottom: 0px;
    margin-left: -214px;
    margin-bottom: -20px;
    background-color: #313131;
    width: 220px;
    text-align: center;
    padding: 20px;

    a{
      color: white;
      text-decoration: none;
      width: 100%;
      text-transform: uppercase;
      font-weight: bold;
    }

  }

}
