doctype html
html
  head
    meta(charset='utf-8')
    title Alternating words
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    
    link(rel='stylesheet', href='css/style.css', media='screen', title='no title', charset='utf-8')
    link(rel='stylesheet', href='css/fonts/font-awesome.min.css')
    script(src="js/alternatewords.js")
  body
    .container
      div#app.hidden Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quia, minus veniam ratione eos, blanditiis consequatur quasi et dignissimos exercitationem ut alias. Officiis nisi distinctio, quos et incidunt fugiat consequatur.
        
